@use '../../styles/variables.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: $spacing-md;
  padding-bottom: 80px; // Space for nav bar
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

